@charset "UTF-8";

#event_detail{
	clear:both;
}

#event_detail li{
	list-style-type : none;
	 display : inline;
	 padding-left:50px;
}

#event_detail a{
	 text-decoration:none ;
}


nav{
	float : right;
}

#event_detail1{
	display : inline;
	padding-top : 50px;
	
}

#event_detail1_1{
	display : inline;
	padding-top : 50px;
	display : inline-block;
	clear:both;
}

#event_detail2{
		padding-top : 50px;
}

#event_detail3{
		padding-top : 50px;
}

.notice_title{
	    font-size: xx-large;
    	color: orange;
}