@charset "UTF-8";



#admin_main1 li{
	list-style-type : none;
	 display : inline;
	 padding-left:150px;
	 
}

#admin_main1 a{
	 text-decoration:none ;
}

nav{
	float : right;
}

#admin_main2{
	text-align : center;
	clear : both;
	padding-top:100px;
	margin-left: -150px;
	
}
.aaaa{
	    display: inline-block;
	    padding-left : 150px;
}
.aaaa a{
	clear:both;
}

#admin_main2_1{
	text_aling : center;
}

.bbbb{
	display: inline-block;
	padding-left : 150px;
}


#admin_main2_2{
	padding-top:100px;
}

.applyPage{
	margin-top: 180px;
	width: 100%;
	
	}
	.subTitle{
	border-bottom: #808080 solid 2px;
	}
	.subsubTitle{
	color: #400080;
	}
	
	.applyForm{
		width: 65%;
	
	border: #808080 solid 2px;
	border-radius: 10px;
	}
	h6 b{
	font-size: 18px;
    position: relative;
    top: 20px;
	margin:10px ;
	color: #400080;

		
	}
	
	.tr1{
		height: 70px;
	}
	
	.tb{
	width: 95%;
	text-align: center;
	height:300px;
	margin-top:30px;
	border-top: #808080 solid 1px;
	padding-bottom:30px;
	text-align: left;
	}

	.tbname{
	width: 20%;
	border-right: #808080 solid 1px;
	margin: 5px 5px 0px 5px;
	padding-left:20px;
	text-align: left;
	}
	
	.form-control{
	width: 40%;
	height: 30px;
	margin-left:10px;
	}
	
	.btn{
	margin: 0 auto;
    width: 160px;
    height: 40px;
    text-align: center;
	}
	
	.btnPage{
	text-align: center;
	}
	
	textarea{
	width: 500px;;
	}
	
	

	.gray{
    height: 30px;
	border: 1.5px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    font-size: 15px;
    
	}
	
	.goLeft{
	position: relative;
    left: -280px;
    }
	.bb{
	position: relative;
    left: -850px;
    }
    
    .textarea{
    width: 90%;
    height: 200px;
    font-size: 13px;
    padding:10px;
    position: relative;
    left: -30px;
    
    }
    
    .tdLength{
    width:400px;
    }
   
  	.tbinput{
  	padding-left:10px;
  	}
  	
   #small{
   width:35%;
   }
      #small2{
   width:15%;
   }
   
   #e_priceSmall{
   width:15%;
   }
      /*event/applyInsertFormshow.jsp */
   	.s_tbname{
	width: 20%;
	border-right: #808080 solid 1px;
	margin: 5px 5px 0px 5px;
	padding-left:20px;
	text-align: left;
	}
	
	.s_tbcontent{
	text-align: left;
    padding-left: 20px;
	}
   
   
   /* event/applyList.jsp */
   .listArccodian{
	margin: 0 auto;
	}

	.arccodianBox{

	}

	.imageSize{
	width:70px;
	height:70px;
	}


	.arccodianBox figure {
    margin: 0 0 1rem;
    float: left;
    margin-right: 108px;
	}

	figcaption{
	margin: 10px 0px 0px 10px;
	}
	
	
	/* 메니지먼트 디테일 버튼 css*/
	.management_detail_button{
	margin-top : 20px;
	margin-left : 330px;
	}
	
	
	
