@charset "UTF-8";

	.applyPage{
	margin-top: 160px;
	width: 100%;
	}
	.subTitle{
	border-bottom: #808080 solid 2px;
	}
	.subsubTitle{
	color: #400080;
	}
	
	.applyForm{
	width: 100%;
	height:200px;
	border: #808080 solid 1px;
	border-radius: 10px;
	}
	
	.tb{
	    width: 40%;
    height: 200px;
    text-align: center;
    margin-left: 20px;
	}

	
	.tbname{
	width: 120px;
	border-right: #808080 solid 1px;
	margin: 5px 5px 0px 5px;
	padding-left:10px;
	text-align: left;
	height:60px;
	}
	
	.form-control{
	width: 300px;
	height: 30px;
	margin-left:10px;
	}
	
		.btn{
	margin: 0 auto;
    width: 160px;
    height: 40px;
    text-align: center;
	}
	
	.btnPage{
	text-align: center;
	}

	
	.aa{
	margin-left: 20px;
	}