<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mohang.mapper.AccountMapper">
	<!-- 회원가입 -->
	<insert id="memberJoin">
	
		<selectKey keyProperty="account_num" 
			order="BEFORE" resultType="String">
			SELECT account_seq.nextval from dual
		</selectKey>	
			
		insert into account
		(
			account_num,account_id,account_password, account_name, account_email, account_address,
			account_join_date, account_mileage, account_interest, account_birth_date,
			account_gender,account_phonenumber, account_delete, 
			account_login, account_address2, account_address3
		)
		values
		(
			#{account_num}, #{account_id}, #{account_password}, #{account_name}, 
			#{account_email}, #{account_address},sysdate, 0, 
			#{account_interest}, #{account_birth_date},
			#{account_gender}, #{account_phoneNumber}, #{account_delete},
			#{account_login}, #{account_address2}, #{account_address3}
		)
	</insert>
	
	<insert id="memberJoinAttach">
		insert into	account_attach
			(account_uuid, account_path, account_filename, account_filetype, account_num)
			values
			(uuid_seq.nextval,'0','0','0', #{account_num})
	</insert>
	
	<update id="loginCheck">
		update ACCOUNT set account_login = #{account_login} where account_num = #{account_num}
	</update>
	
	<!-- 아이디 중복 검사 -->
	<select id="idCheck" resultType="int">
  	
  		select count(*) from ACCOUNT where account_id = #{account_id}
  	
  	</select>
  	
  	<!-- 로그인 -->
  	<select id="accountLogin" resultType="org.mohang.domain.AccountVO">
  	select account_num,account_id, account_password, account_name, account_mileage, account_interest from ACCOUNT where account_id = #{account_id} AND account_password = #{account_password}
	</select>
	<!-- 단체 정보 확인 -->
	<select id="o_numCheck" resultType="org.mohang.domain.OrganizationVO">
		select o_num from Organization where account_num = #{account_num}
	</select>
</mapper>