<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mohang.mapper.AccountMapper">
	<!-- 회원가입 -->
	<insert id="memberJoin">
		insert into ACCOUNT values(
								   account_seq.nextval ,#{account_id}, #{account_password}, 
								   #{account_name}, #{account_email}, #{account_address},
								   sysdate, 0, #{account_interest}, #{account_birth_date}, 
								   #{account_gender}, #{account_phoneNumber}, #{account_address2}, #{account_address3})
	</insert>

	<!-- 아이디 중복 검사 -->
	<select id="idCheck" resultType="int">
  	
  		select count(*) from ACCOUNT where account_id = #{account_id}
  	
  	</select>
  	
  	<!-- 로그인 -->
  	<select id="accountLogin" resultType="org.mohang.domain.AccountVO">
  	select account_num,account_id, account_password, account_name, account_mileage, account_interest from ACCOUNT where account_id = #{account_id} AND account_password = #{account_password}
	</select>
	<!-- 단체 정보 확인 -->
	<select id="o_numCheck" resultType="org.mohang.domain.OrganizationVO">
		select o_num from Organization where account_num = #{account_num}
	</select>
</mapper>