<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 폼에 작성한 데이터를 DB에 저장 -->
<mapper namespace="org.mohang.mapper.AdminMapper">
	<!-- 승인반려리스트조회 -->
 	<select id="listApprove" resultType="org.mohang.domain.ApproveDTO">
       select a.ap_num, e.e_name, a.admin_num, a.ap_date, a.ap_check, e.e_num
       from approve a, event e, event_hall_reservation r
       where r.eh_reservation_num = a.eh_reservation_num and  e.e_num = r.e_num
    </select>
    
    <!-- 페이징처리된 승인반려리스트 조회 -->
     <select id="getlistApprovePaging" resultType ="org.mohang.domain.ApproveDTO">
	 
	 	SELECT * FROM (
       		 SELECT a.*, ROWNUM as rnum FROM (
             select a.ap_num, e.e_name, a.admin_num, a.ap_date, a.ap_check, e.e_num
      		 from approve a, event e, event_hall_reservation r
      			 where r.eh_reservation_num = a.eh_reservation_num and  e.e_num = r.e_num
				 									<if test="keyword !=null  and !keyword.equals('')">
															  and e.e_name like '%'||#{keyword}||'%' 
													</if> order by to_number(admin_num) desc
               )
        	a) 
       <![CDATA[ 
        where rnum > (#{pageNum} -1) * #{amount}  and rnum <= #{pageNum} * #{amount}
		]]> 
	 </select>
	 
	 <!-- 승인반려리스트삭제- 왜냐하면 조인했으니깐 이벤트홀 ap_num을 먼저 삭제 하는거다.-->
	 <delete id="deleteEventHall" >
	 	delete event_hall_reservation where ap_num = #{ap_num} 
	 </delete>
	 
	  <!-- 승인반려리스트삭제 -->
	 <delete id="deleteApprove" >
	 	delete approve where ap_num = #{ap_num}
	 </delete>
	 
	  <!--승인반려리스트승인- 승인버튼 눌렀을때 비고란버튼들이 없어지면서 리스트에 뜨게끔  -->
	 <select id="listApprovebtn" resultType="org.mohang.domain.ApproveDTO">
	 	select a.ap_num, e.e_name, a.admin_num, a.ap_date, a.ap_check
	 	from approve a, event e, event_hall_reservation r
	 	where r.ap_num = a.ap_num and  e.e_num = r.e_num 	
	 </select>	
	 
	 <update id="updateApprovebtn">
	 	update approve
	 	set AP_Check = 'Y'
	 	where ap_num =#{ap_num} and admin_num=#{admin_num}
	 </update>
	 
	 <!-- 승인반려리스트에서 글 제목 눌렀을시 디테일 페이지로 이동하게끔-->
	 <select id ="detailApprove" resultType="org.mohang.domain.EventVO">
	 	select *
	 	from event
	 	where e_num = #{e_num}
	 </select> 
	 <update id="updatestatuswait">
		update approve
		set AP_Check = 'N'
		where ap_num = #{ap_num} and admin_num = #{admin_num}
	 </update>	 

	 
	 <!-- 승인반려리스트에서 글제목 눌렀을때 디테일페이지로 이동하기 위해서 eventhall데이터도 필요하다 -->
	 <select id="eventHallGet" resultType="org.mohang.domain.EventHallVO">
		select * from event_hall where eh_num = #{eh_num}
	</select>
	 
	 <!-- 회원관리 리스트 조회 -->
	 <select id="listAccount" resultType="org.mohang.domain.AccountVO">
	 	select account_id,account_name, account_birth_date,account_phonenumber,account_num
	 	, account_delete 
	 	from account
	 </select>
	 
	 <!-- 페이징처리된 회원관리 리스트 조회 -->
	  <select id="getAccountPaging" resultType="org.mohang.domain.AccountVO">
	
	 	SELECT * FROM (
       		 SELECT a.*, ROWNUM as rnum FROM (
               SELECT * FROM account <if test="keyword !=null  and !keyword.equals('')">
															 where account_id like '%'||#{keyword}||'%' 
													</if> order by to_number(account_num) desc
               )
        	a) 
        
         <![CDATA[ 
        where rnum > (#{pageNum} -1) * #{amount}  and rnum <= #{pageNum} * #{amount}
		]]> 
	 </select>
	 
	 
	 <!-- 회원관리 리스트 삭제여부를 Y -> N으로 -->
	 <update id="deleteAccount">
	 	update account 
	 	set account_delete = 'N'
	 	where account_num = #{account_num}
	 </update>
	 
	 
	 <!-- 회원관리 리스트에서 회원아이디 눌렀을때 디테일 페이지 나오게끔 -->
	 <select id="detailAccount" resultType="org.mohang.domain.AccountVO">
	 	select * from account
	 	where account_num = #{account_num}
	 </select>
	 
	 <!-- 티켓예약리스트 조회 -->
	 <select id="listreservationTicket" resultType ="org.mohang.domain.TicketReservationDTO">
	 	select a.account_name, t.ticket_reservation_time, t.ticket_reservation_price,
		t.ticket_reservation_status, t.ticket_reservation_num
		from account a , ticket_reservation t
		where t.account_num = a.account_num
	 </select>
	
	<!-- 페이징처리가된 티켓예약리스트 조회 -->
	 <select id="getlistreservationTicketPaging" resultType ="org.mohang.domain.TicketReservationDTO">
	 <![CDATA[ 
	 	SELECT * FROM (
       		 SELECT a.*, ROWNUM as rnum FROM (
            select a.account_name, t.ticket_reservation_time, t.ticket_reservation_price,
			t.ticket_reservation_status, t.ticket_reservation_num
			from account a , ticket_reservation t
			where t.account_num = a.account_num   order by to_number(ticket_reservation_num) desc
               )
        	a) 
        where rnum > (#{pageNum} -1) * #{amount}  and rnum <= #{pageNum} * #{amount}
		]]> 
	 </select>
	 
	 <!-- 리뷰리스트 조회 -->
	 <select id="listReview" resultType ="org.mohang.domain.ReviewVO">
	 	select review_num, review_title, review_writer, review_date, review_hitcount	
	 	from review	
	 </select>	
	
	<!-- 페이징처리가 된 리뷰 리스트 조회 -->
	 <select id="getReviewPaging" resultType="org.mohang.domain.ReviewVO">
	 
	 	SELECT * FROM (
       		 SELECT a.*, ROWNUM as rnum FROM (
               SELECT * FROM review 
               										<if test="keyword !=null  and !keyword.equals('')">
															 where review_title like '%'||#{keyword}||'%' 
													</if> order by to_number(review_num) desc
               
               )
        	a) 
        
        <![CDATA[ 
        where rnum > (#{pageNum} -1) * #{amount}  and rnum <= #{pageNum} * #{amount}
		]]> 
	 </select>
	
	
	<!-- 공지사항리스트 조회 -->
	<select id="listNotice" resultType="org.mohang.domain.NoticeVO">
		select notice_num, notice_title, notice_writer, notice_date, notice_hitcount
		from notice 
	</select>
	
	
	
	<!-- 공지사항에서 글 제목눌렀을시 디테일 페이지로 이동하는 부분 -->
	<select id="detailNotice" resultType="org.mohang.domain.NoticeVO">
		select notice_num, notice_title, notice_writer, notice_date, notice_hitcount , notice_content
		from notice
		where notice_num=#{notice_num}
	</select>
	
	<!--  조회수 하고 싶을때 
	<update id="updateHitCount">
   		update notice set e_hitcount = e_hitcount+1 where e_num=#{e_num}
   	</update>
	-->
	
	
	<!-- 공지사항 삭제버튼 눌렀을시 리스트 삭제 -->
	<delete id="deleteNotice">
		delete notice where notice_num=#{notice_num}
	</delete>
	
	<!-- 수정되기 전에 먼저 등록된 폼을 보여줘야한다. -->
	<select id="updateNoticeForm" resultType="org.mohang.domain.NoticeVO">
		select * from notice
		where notice_num =#{notice_num}
	</select>
	
	
	<!-- 공지사항 수정버튼 눌렀을시 수정되게 -->
	<update id="updateNotice">
		update notice
		set notice_title=#{notice_title}, notice_content=#{notice_content} 
		where notice_num = #{notice_num}
	</update>
	
	<!-- 공지사항 글쓰기에서 글 등록하고 등록버튼 눌렀을시 리스트에 등록되게 -->
	<insert id="resisterNotice">
		insert into notice(notice_num, admin_num, notice_title,notice_writer,notice_hitcount,
		notice_content, notice_date) values
		(NOTICE_SEQ.nextval, #{admin_num}, #{notice_title},#{notice_writer}, 0,
		#{notice_content}, sysdate)
	</insert>
	
	<!-- 리뷰게시판 리스트 삭제 -->
	<delete id="deleteReview">
		delete review where review_num = #{review_num}
	</delete>
	
	
	<!-- 리뷰게시판 리스트에서 제목 눌렀을시 디테일페이지로 이동하게끔 -->
	<select id="detailReview" resultType="org.mohang.domain.ReviewVO">
		select * from review
		where review_num = #{review_num}
		
	</select>
	
	 
	 <!-- 티켓예매리스트에서 예매취소 버튼 눌렀을시 리스트에서 삭제되게 -->
	 <delete id="deleteTicketReservation">
		 delete ticket_reservation where ticket_reservation_num = #{ticket_reservation_num}
	 </delete>
	 
	 
	 <!-- 공지사항 게시판 페이징처리랑 제목기준으로 검색하기위한  select문-->
	 <select id="getNoticePaging" resultType="org.mohang.domain.NoticeVO">
	 	
	 	SELECT * FROM (
       		 SELECT a.*, ROWNUM as rnum FROM (
               
              SELECT * FROM notice 	<if test="keyword !=null  and !keyword.equals('')">
															 where notice_title like '%'||#{keyword}||'%' 
													</if> order by to_number(notice_num) desc
               
               )
        	a) 
          
          <![CDATA[
          		where rnum > (#{pageNum} -1) * #{amount}  and rnum <= #{pageNum} * #{amount}
	 	  ]]>
	 
		
	 </select>
	 
	 <!-- 공지사항 게시판에서 검색처리를 위한 select문 -->
	<!--  <select id="searchNotice" resultType="org.mohang.domain.NoticeVO">
	 	<![CDATA[
	 	SELECT * FROM (
       		 SELECT a.*, ROWNUM as rnum FROM (
               SELECT * FROM notice where notice_title like '%'||#{keyword}||'%'  order by to_number(notice_num) desc
               )
        	a) 
          where rnum > (#{pageNum} -1) * #{amount}  and rnum <= #{pageNum} * #{amount}
	 	]]>
	 	<if test="keyword !=null  and(keyword eq 'test'.toString())">
				notice_title like '%'||#{keyword}||'%' 
		</if>
	 </select> -->
	 
	 <select id="getNoticeTotal" resultType="int">
	 	select count(*) from notice
	 	<if test="keyword !=null  and !keyword.equals('')">
				where notice_title like '%'||#{keyword}||'%' 
		</if>
	 </select>
	 
	 <select id="getReviewTotal" resultType="int">
	 	select count(*) from review
	 	<if test="keyword !=null  and !keyword.equals('')">
				where review_title like '%'||#{keyword}||'%' 
		</if>
	 </select>
	 
	 <select id="getTicketReservationTotal" resultType="int">
	 	select count(*) from Ticket_Reservation
	 </select>
	 
	  <select id="getAccountTotal" resultType="int">
	 	select count(*) from account
	 	<if test="keyword !=null  and !keyword.equals('')">
				where account_id like '%'||#{keyword}||'%' 
		</if>
	 </select>
	 
	  <select id="getApproveTotal" resultType="int">
	 	select count(*) from approve
	 	<if test="keyword !=null  and !keyword.equals('')">
				where ap_num like '%'||#{keyword}||'%' 
		</if>
	 </select>
	 
</mapper>