<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mohang.mapper.ChatMapper">
	
<select id="listChat" resultType="org.mohang.domain.ChatDTO">
<![CDATA[
select a.account_num, a.account_name, a.account_login, r.room_num from room r, account a where a.account_num = r.account_num 
and room_num in(select room_num from room where account_num = #{account_num}) and r.account_num != #{account_num}
]]>

</select>

<select id="listMessage" resultType="org.mohang.domain.ChatVO">
<![CDATA[
select /*+INDEX(chat_index_pk)*/ account_num, admin_num, chat_history, to_char(chat_date,'YYYY-MM-DD:HH24:MI:SS') from chat where room_num = #{room_num}
]]>
</select>


<insert id="addMessage">
	insert into chat(chat_index, room_num, account_num, admin_num,chat_history,chat_date)
	 values(chat_index_seq.nextval , #{room_num}, #{account_num}, #{admin_num},#{chat_history}, sysdate)
</insert>

<delete id="deleteChat">
	delete from room where room_num = #{room_num}
</delete>

<delete id="deleteMessage">
	delete from chat where room_num = #{room_num}
</delete>

<delete id="deleteRoom">
	delete from room_list where room_num = #{room_num}
</delete>
</mapper>