<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mohang.mapper.ChatMapper">
	
<select id="listChat" resultType="org.mohang.domain.AccountVO">
<![CDATA[
select a.account_name from room r, account a where a.account_num = r.account_num 
and room_num in(select room_num from room where account_num = #{account_num}) and r.account_num != #{account_num}
]]>

</select>

<select id="listMessage" resultType="org.mohang.domain.ChatVO">
<![CDATA[
select /*+INDEX(chat idx_chat)*/ account_num, admin_num, chat_history, chat_date from chat where room_num = #{room_num}
]]>
</select>

</mapper>