<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mohang.mapper.EventMapper">

	<select id="listBestEvent" resultType="org.mohang.domain.EventVO">
	 <![CDATA[
		  select e.e_num,e.o_num,e.e_name,e.e_startdate,e.e_enddate,e.e_fname,e.e_price,e.e_hitcount
          from event e, approve a,event_hall_reservation r
          where r.eh_reservation_num = a.eh_reservation_num
               and e.e_num = r.e_num and a.ap_check='Y'
          order by e.e_like desc
     ]]>
	</select>
	<select id="listLikeEvent" resultType="org.mohang.domain.LikedVO">
		  select * from liked where
		  account_num =#{account_num} and e_num = #{e_num}
	</select>
	<select id="listMonthEvent" resultType="org.mohang.domain.EventVO">
	<![CDATA[
		  select e.e_num,e.o_num,e.e_name,e.e_startdate,e.e_enddate,e.e_fname,e.e_price,e.e_hitcount
          from event e, approve a,event_hall_reservation r
          where r.eh_reservation_num = a.eh_reservation_num
           		and e.e_num = r.e_num and a.ap_check='Y' and e.e_startdate like  '%'||#{search}||'%' or e.e_enddate like '%'||#{search}||'%' and e_enddate > sysdate 
	]]>
	</select>
	<select id="listDayEvent" resultType="org.mohang.domain.EventVO">
	<![CDATA[
		  select e.e_num,e.o_num,e.e_name,e.e_startdate,e.e_enddate,e.e_fname,e.e_price,e.e_hitcount
          from event e, approve a,event_hall_reservation r
          where r.eh_reservation_num = a.eh_reservation_num
           		and e.e_num = r.e_num and a.ap_check='Y' and e.e_startdate <= #{search} and  e.e_endDate >= #{search} and e_enddate > sysdate order by e.e_startdate
	]]>
	</select>
	<!-- 충돌20211203 -->
	<select id="listRecommendEvent" resultType="org.mohang.domain.EventVO"
		parameterType="java.util.List">
		  select e.e_num,e.o_num,e.e_name,e.e_startdate,e.e_enddate,e.e_fname,e.e_price,e.e_hitcount
          from event e, approve a,event_hall_reservation r
          where r.eh_reservation_num = a.eh_reservation_num
          		and e.e_num = r.e_num and a.ap_check='Y' and
		<foreach item="account_interest" collection="list" open="("
			separator="or" close=")">
				e.e_field = #{account_interest}
		</foreach>
		  order by e.e_hitcount desc
	</select>
	<select id="listHitcountEvent" resultType="org.mohang.domain.EventVO">
		  select e.e_num,e.o_num,e.e_name,e.e_startdate,e.e_enddate,e.e_fname,e.e_price,e.e_hitcount
	          from event e, approve a,event_hall_reservation r
	          where r.eh_reservation_num = a.eh_reservation_num
	          		and e.e_num = r.e_num and a.ap_check='Y'
	  		  order by e.e_hitcount desc
	</select>

	<!-- 충돌끝 -->
	<select id="listEvent" resultType="org.mohang.domain.EventVO"
		parameterType="org.mohang.domain.Search">
		<![CDATA[
			select e_num as e_num,o_num as o_num,e_name as e_name,e_startdate as e_startDate,e_enddate as e_endDate,e_fname as e_fname,e_price as e_price,e_hitcount as e_hitcount
			from (
      		      select a.*, rownum as rnum 
      		      from (
	               	     select e.e_num as e_num,e.o_num as o_num,e.e_name as e_name,e.e_startdate as e_startDate,e.e_enddate as e_endDate,e.e_fname as e_fname,e.e_price as e_price,e.e_hitcount as e_hitcount
	              	     from event e, approve a,event_hall_reservation r
	                     where r.eh_reservation_num = a.eh_reservation_num
	               	    	  and e.e_num = r.e_num and a.ap_check='Y'  and e_enddate > sysdate 
		]]>
			<if test="keyword !=null and !keyword.equals('') ">
						and e.e_name like '%'||#{keyword}||'%' 
			</if>
			<if test="field !=null and !field.equals('')">
						and e.e_field = #{field}
			</if>
			<if test="type !=null and !type.equals('')">
						and e.e_type = #{type} 
			</if>
			<if test="price != null and !price.equals('') and price.equals('무료')">
						and e.e_price = 0 
			</if>
			<if test="price != null and !price.equals('') and price.equals('유료/무료')">
						and e.e_price >= 0
			</if>
			<if test="price != null and !price.equals('') and price.equals('유료')">
						and e.e_price > 0 
			</if>
			<if test="startDate != null and !startDate.equals('') ">
						<![CDATA[
						and (e.e_startdate >=  #{startDate}
						]]>
			</if>
			<if test="endDate != null and !endDate.equals('')">
						<![CDATA[
						and e.e_enddate <=  #{endDate}) 
						]]>

			</if>
			<if test="s_like != null and !s_like.equals('')">
						order by e.e_like desc
			</if>
			<if test="s_price != null and !s_price.equals('')">
						order by e.e_price desc
			</if>
			<if test="s_hitcount != null and !s_hitcount.equals('')">
						order by e.e_hitcount desc
			</if>
			<![CDATA[	
						         )
				        a)  WHERE rnum > (#{pageNum} -1) * #{amount} and rnum <= (#{pageNum} * #{amount})
			]]>
	</select>
	<select id="getTotalCount" resultType="int" parameterType="org.mohang.domain.Search">
			<![CDATA[	
			   select count(*)
               from event e, approve a,event_hall_reservation r
               where r.eh_reservation_num = a.eh_reservation_num
             	    and e.e_num = r.e_num and a.ap_check='Y' and e_enddate > sysdate
			]]>
			<if test="keyword !=null and !keyword.equals('') ">
						and e.e_name like '%'||#{keyword}||'%'
			</if>
			<if test="field !=null and !field.equals('') ">
						and e.e_field = #{field}
			</if>
			<if test="type !=null and !type.equals('')">
						and e.e_type = #{type}
			</if>
			<if test="price != null and !price.equals('') and price.equals('무료')">
						and e.e_price = 0
			</if>
			<if test="price != null and !price.equals('') and price.equals('유료/무료')">
						and e.e_price >= 0
			</if>
			<if test="price != null and !price.equals('') and price.equals('유료')">
						and e.e_price > 0
			</if>
			<if test="startDate != null and !startDate.equals('') "> 
						<![CDATA[
						and (e.e_startdate >=  #{startDate}
						]]>
			</if>
			<if test="endDate != null and !endDate.equals('')">
						<![CDATA[
						and e.e_enddate <=  #{endDate})
						]]>
			</if>
	</select>
	<select id="eventHallGet" resultType="org.mohang.domain.EventHallVO">
		select * from event_hall
		where eh_num = #{eh_num}
	</select>

	<select id="selectlike" resultType="org.mohang.domain.LikedVO">
		select
		account_num,e_num,like_status from liked where account_num
		=#{account_num} and e_num = #{e_num}
	</select>
	<select id="selectlikeone" resultType="org.mohang.domain.LikedVO">
		select
		account_num,e_num,like_status from liked where account_num
		=#{account_num} and e_num = #{e_num}
	</select>
	<insert id="firstinsertLikeEvent">
		insert into liked (account_num,e_num,like_status)
		values(#{account_num},#{e_num},0)
	</insert>
	<insert id="insertlike">
		insert into liked (account_num,e_num,like_status)
		values(#{account_num},#{e_num},1)
	</insert>
	<select id="statuslike" resultType="org.mohang.domain.LikedVO">
		select like_status from liked
		where account_num =#{account_num} and e_num = #{e_num}
	</select>
	<update id="updatedownlike">
		update liked set like_status =0 where account_num
		=#{account_num} and e_num = #{e_num}
	</update>
	<update id="updateuplike">
		update liked set like_status =1 where account_num
		=#{account_num} and e_num = #{e_num}
	</update>
	<update id="upcountlike">
		update event set e_like = e_like+1 where e_num =
		#{e_num}
	</update>
	<update id="downcountlike">
		update event set e_like = e_like-1 where e_num =
		#{e_num}
	</update>

	<!-- 용환!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

	<!-- 지혜!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->

	<!-- 신청한 이벤트 정보 DB등록. 등록한 단체번호 o_num이 넘어와야할듯. -->
	<select id="getOnum" resultType="String">
		select o_num from organization where account_num = #{account_num}
	</select>
	
	<insert id="insertApply">
		<selectKey  resultType="String" keyProperty="e_num" order="BEFORE">
			select event_seq.nextval FROM DUAL
		</selectKey>
		insert into event(e_num, o_num, e_name, e_startDate,
		e_endDate, e_startRecruiteDate, e_endRecruiteDate, e_type, e_field,
		e_price, e_detail, e_recruitePeople, e_fname, e_personName,
		e_personPhoneNumber, e_personEmail, eh_num, e_dfname)
		values(#{e_num}, #{o_num}, #{e_name}, #{e_startDate},
		#{e_endDate}, #{e_startRecruiteDate}, #{e_endRecruiteDate}, #{e_type},
		#{e_field}, #{e_price}, #{e_detail}, #{e_recruitePeople}, #{e_fname},
		#{e_personName}, #{e_personPhoneNumber}, #{e_personEmail},
		#{eh_num},
		#{e_dfname})
	</insert>

	<insert id="insertEventHallReservation">
		<selectKey  resultType="String" keyProperty="eh_reservation_num" order="BEFORE">
			select event_hall_reservation_seq.nextval FROM DUAL
		</selectKey>
		insert into event_hall_reservation
		values(#{eh_reservation_num},#{account_num}, sysdate,
		#{e_num})
	</insert>

	<insert id="insertApprove">
		insert into approve(ap_num, eh_reservation_num)
		values(approve_seq.nextval, #{eh_reservation_num})
	</insert>

	<select id="listApply" resultType="org.mohang.domain.EventListDTO">
		select e.e_num, e.o_num,e_name,
		e.eh_num,eh.account_num, e.e_startdate,
		e.e_enddate, e.e_applydate,
		a.ap_check
		from event e, approve a, event_hall_reservation eh
		where
		e.e_num = eh.e_num and eh.eh_reservation_num = a.eh_reservation_num
		and eh.account_num = #{account_num}
		order by e.e_applydate desc
	</select>

	<select id="getApply" resultType="org.mohang.domain.EventVO">
		select * from event where e_num
		= #{e_num}
	</select>

	<select id="eventDetail" resultType="org.mohang.domain.EventVO">
		select * from event where
		e_num = #{e_num}
		order by e_hitcount desc
	</select>

	<update id="updateApply">
		update event set o_num = #{o_num}, e_name =
		#{e_name},
		e_startDate=#{e_startDate}, e_endDate=#{e_endDate},
		e_startRecruiteDate=#{e_startRecruiteDate}, e_endRecruiteDate=
		#{e_endRecruiteDate},
		e_type=#{e_type}, e_field= #{e_field}, e_price=
		#{e_price}, e_detail = #{e_detail},
		e_recruitePeople=#{e_recruitePeople}, e_fname= #{e_fname},
		e_personName=#{e_personName},e_personPhoneNumber=#{e_personPhoneNumber},
		e_personEmail= #{e_personEmail}, eh_num=#{eh_num}, e_dfname=
		#{e_dfname}
		where e_num = #{e_num}
	</update>





	<select id="listStatistics" resultType="org.mohang.domain.EventVO">
		<![CDATA[ select * from event where sysdate >= e_endDate ]]>
	</select>


	<!-- 11/30 통계문 추가 및 수정 -->
	<select id="getStatistics" resultType="org.mohang.domain.StatisticsDetailDTO">
		select *from
		statisticsview
	</select>


	<update id="updateHitCount">
		update event set e_hitcount = e_hitcount+0.5 where
		e_num=#{e_num}
	</update>

	<!-- 나이/연령별 인원 -->
	<select id="getStatistics_ageGender" resultType="org.mohang.domain.StatisticsAgeDTO">
		select age,
		nvl(f_count,0)as f_count, nvl(m_count,0)as m_count from(select
		account_age as age, account_gender as gender, count(*)as count
		from
		statisticsview
		where e_num = #{e_num} group by
		account_age,account_gender)
		pivot(
		sum(count) for gender in('f' as f_count,'m' as m_count)
		) order by age

	</select>

	<!-- 흥미순위 -->
	<select id="getStatistics_interest" resultType="org.mohang.domain.StatisticsInterestDTO">
		select
		account_interest as interest, count(account_interest)as count from
		statisticsview group by account_interest
	</select>

</mapper>