<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mohang.mapper.GeneralMapper">
	
	<!-- 회원 정보  업데이트폼-->
	<select id="getInformation" resultType="org.mohang.domain.AccountVO" parameterType="String">
<!-- 	<![CDATA[ -->
		select
			account_gender, account_birth_date, account_phoneNumber, account_num,
			account_interest, account_email, account_address, account_name, account_id
		from
			account
		where
			account_num = #{account_num}
<!-- 	]]> -->
	</select>
	
	<update id="updateInformation">
		update 
			account 
		set
			account_gender = #{account_gender},
			account_birth_date = #{account_birth_date},
			account_phoneNumber = #{account_phoneNumber},
			account_interest = #{account_interest},
			account_email = #{account_email},
			account_address = #{account_address}
		where
			account_num = #{account_num}
	</update>
	
	<select id="getPassword" resultType="String">
		select
			account_password
		from
			account
		where 
			account_num = #{account_num}
	</select>
	
	<update id="updatePassword">
		update 
			Account 
		set 
			account_password = #{account_password}
		where
			account_num = #{account_num}
	</update>
		<!-- 회원 정보  업데이트폼 end-->
	
	<!-- 관심목록 -->
	<select id="getListLikes" resultType="org.mohang.domain.GeneralLikeListDTO">
		select
			a.account_num, 
			e.e_num, eh.eh_location, e.e_name, e.e_hitcount,
			e.e_price, e.e_startRecruiteDate, e.e_fname,
			l.like_status
		from
			account a 
			JOIN liked l 
				ON a.account_num = l.account_num
		    JOIN event e
		    	ON  l.e_num = e.e_num
		    JOIN event_hall eh 
		    	ON e.eh_num = eh.eh_num
	    where 
			l.LIKE_STATUS = '1' AND a.account_num = #{account_num}
	</select>
	<update id='updateLikeStatus'>
		update
			liked
		set
			like_status = '0'
		where
			account_num = #{account_num} AND e_num = #{e_num}
	</update>
	<!-- 관심목록 end-->
	
<!-- 예약목록 start -->
	<select id='getListMyReservation' resultType='org.mohang.domain.GeneralMyReservationDTO'>
	select 
		 a.account_num, a.account_name, a.account_phoneNumber, a.account_email, a.account_id,
		 e.e_num, e.e_applydate, e.e_name, e.e_startDate, e.e_endDate, e_fname,
		 eh.eh_location,
		 tr.ticket_reservation_price, tr.ticket_reservation_amount, tr.ticket_reservation_num, 
		 tr.ticket_reservation_time, ticket_reservation_status,
		 tp.ticket_payment_price, tp.ticket_payment_status
	from
		 account a join ticket_reservation tr on a.account_num = tr.account_num
		 join ticket_payment tp on tr.ticket_reservation_num = tp.ticket_reservation_num
		 join event e on tr.e_num = e.e_num
		 join event_hall eh on eh.eh_num = e.eh_num
	where
		a.account_num = #{account_num}
	</select>
<!-- 예약목록 start -->
	<insert id='insertTicketReserv'>
	
		<selectKey keyProperty="ticket_reservation_num" 
			order="BEFORE" resultType="String">
			select ticket_reservation_seq.nextval from dual
		</selectKey>
		
		insert into 
			ticket_reservation
		(
			ticket_reservation_num,	e_num, account_num,
			ticket_reservation_price, ticket_reservation_amount,
			ticket_reservation_status, ticket_reservation_time
		)
		values(
			#{ticket_reservation_num}, #{e_num}, #{account_num},
			#{ticket_reservation_price}, #{ticket_reservation_amount},
			'예약완료', #{ticket_reservation_time}
		)
	</insert>
	<insert id='insertTicketPay'>
		insert into
			ticket_payment
		(
			ticket_payment_num,	ticket_reservation_num,	e_num,
			account_num, ticket_payment_method,	ticket_payment_time,
			ticket_payment_price, ticket_payment_status, ticket_attend
		)
		values(
			ticket_payment_seq.nextval, #{ticket_reservation_num}, #{payDTO.e_num},
			#{payDTO.account_num}, #{payDTO.ticket_payment_method}, #{payDTO.ticket_payment_time},
			#{payDTO.ticket_payment_price}, '결제완료', '미참여'
		)
	</insert>
<!-- 	예약목록 end -->
<!-- 	예약 인원 제한start -->
	<!-- <select id='selectSumOfTicketReserv' resultType='Int'>
	select
		sum(ticket_reservation_amount)
  	FROM
  		ticket_reservation
  	WHERE
  		e_num = #{e_num}
	</select>
	
	<select id='selectRecruitePeople' resultType='Int'>
	select
		E_RecruitePeople
  	FROM
  		event
    WHERE
    	e_num = #{e_num};
	</select> -->
	<select id='getRemainTicket' resultType='Int'>
<!-- 	<![CDATA[  -->
	select
		(e.E_RecruitePeople&#45;sum(tr.ticket_reservation_amount)) as ticket_remain
	FROM
		ticket_reservation tr JOIN event e ON e.e_num = tr.e_num
    WHERE
    	e.e_num = '1'
    GROUP BY
    	e.E_RecruitePeople
<!-- 	]]> -->
	</select>
	
	
</mapper> 