<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mohang.mapper.GeneralMapper">
	
	<!-- 회원 정보  업데이트폼-->
	<select id="getInformation" resultType="org.mohang.domain.AccountVO" parameterType="String">
<!-- 	<![CDATA[ -->
		select
			account_gender, account_birth_date, account_phonenumber, account_num,
			account_interest, account_email, account_address, account_name, account_id
		from
			account
		where
			account_num = #{account_num}
<!-- 	]]> -->
	</select>
	
	<update id="updateInformation">
		update 
			account 
		set
			account_gender = #{account_gender},
			account_birth_date = #{account_birth_date},
			account_phonenumber = #{account_phonenumber},
			account_interest = #{account_interest},
			account_email = #{account_email},
			account_address = #{account_address}
		where
			account_num = #{account_num}
	</update>
	
	<select id="getPassword" resultType="String">
		select
			account_password
		from
			account
		where 
			account_num = #{account_num}
	</select>
	
	<update id="updatePassword">
		update 
			Account 
		set 
			account_password = #{account_password}
		where
			account_num = #{account_num}
	</update>
		<!-- 회원 정보  업데이트폼 end-->
	
	<!-- 관심목록 -->
	<select id="listLikes" resultType="org.mohang.domain.GeneralLikeListDTO">
		select
			eh.eh_location, e.e_name, e.e_hitcount,e.e_price,
			e.e_startrecruitedate, e.e_fname, l.like_status
		from
			account a, event e, liked l, event_hall eh
		where
			a.account_num = #{account_num} and l.like_status = '1'
	</select>
	<update id='updateLikeStatus'>
		update
			
	
	</update>

</mapper> 