<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mohang.mapper.GeneralMapper">
	
	<!-- 회원 정보  업데이트폼-->
	<select id="getInformation" resultType="org.mohang.domain.AccountVO" parameterType="String">
<!-- 	<![CDATA[ -->
		select
			account_gender, account_birth_date, account_phoneNumber, account_num,
			account_interest, account_email, account_address, account_name, account_id
		from
			account
		where
			account_num = #{account_num}
<!-- 	]]> -->
	</select>
	
	<update id="updateInformation">
		update 
			account 
		set
			account_gender = #{account_gender},
			account_birth_date = #{account_birth_date},
			account_phoneNumber = #{account_phoneNumber},
			account_interest = #{account_interest},
			account_email = #{account_email},
			account_address = #{account_address}
		where
			account_num = #{account_num}
	</update>
	
	<select id="getPassword" resultType="String">
		select
			account_password
		from
			account
		where 
			account_num = #{account_num}
	</select>
	
	<update id="updatePassword">
		update 
			Account 
		set 
			account_password = #{account_password}
		where
			account_num = #{account_num}
	</update>
		<!-- 회원 정보  업데이트폼 end-->
	
	<!-- 관심목록 -->
	<select id="listLikes" resultType="org.mohang.domain.GeneralLikeListDTO">
		select
			a.account_num, 
			e.e_num, eh.eh_location, e.e_name, e.e_hitcount,
			e.e_price, e.e_startRecruiteDate, e.e_fname,
			l.like_status
		from
			account a 
			JOIN liked l 
				ON a.account_num = l.account_num
		    JOIN event e
		    	ON  l.e_num = e.e_num
		    JOIN event_hall eh 
		    	ON e.eh_num = eh.eh_num
	    where 
			l.LIKE_STATUS = '1' AND a.account_num = #{account_num}
	</select>
	<update id='updateLikeStatus'>
		update
			liked
		set
			like_status = '0'
		where
			account_num = #{account_num} AND e_num = #{e_num}
	</update>

</mapper> 