<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mohang.mapper.OrganizationMapper">

	
	<!-- 폼에 작성한 이름을 DB에 저장 -->
	<insert id="insertOrganization">
		<selectKey  resultType="String" keyProperty="o_num" order="BEFORE">
			select organization_seq.nextval FROM DUAL
		</selectKey>
		insert into organization(
		o_num, account_num, o_name, o_homepage, o_phoneNumber) 
		values(
		#{o_num}, #{account_num},#{o_name},#{o_homepage},#{o_phoneNumber}
		)
	</insert>
	
	<select id="getOrganization" resultType="org.mohang.domain.OrganizationVO">
		<!-- onum->accountNum으로 변경하기.  -->
		select * from organization where o_num = #{o_num}
	</select>
	
	<update id="updateOrganization">
		update organization set o_name = #{o_name}, o_homepage = #{o_homepage}, o_phoneNumber = #{o_phoneNumber} where  o_num =#{o_num} 
	</update>
	<!-- 충돌 조심 -->
	<select id ="getOrganizationOnum" resultType="org.mohang.domain.OrganizationVO">
		select o_name,o_homepage from organization where o_num = #{o_num}
	</select>




</mapper>